---
---

@import "{{ site.theme }}";

code {
 font-family:'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
 font-size:13px;
 color:#666;
 text-shadow:0px 0px 0px #000;
 margin:0 0px;
 padding:1px 1px;
 background-color: rgba(0, 0, 0, 0);
 border-radius:0px
}